<div class="text-center position-absolute start-50 translate-middle alert alert-dismissible alert-info fade show shadow" style="top: 13%"
     role="alert" *ngIf="help">
  <strong>Instructions</strong>
  <ul class="icon-list">
    <li>to make a task click on Add task button</li>
    <li>to remove/edit task click on the task and delete</li>
    <li>to update to task to different status do drag and drop</li>
  </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="showHelp()"></button>
</div>
<button class="btn btn-outline-info-info bi bi-info-circle-fill text-center" (click)="showHelp()"
        title="How to Use"></button>
<div class="content-wrapper mt-3">
  <button mat-button (click)="newTask()">
    <mat-icon>add</mat-icon>
    Add Task
  </button>
  <div class="container-wrapper row">
    <div class="container col-md-4 col-12 col-sm-5">
      <h2>Waiting</h2>
      <mat-card cdkDropList id="todo"
                #todoList="cdkDropList"
                [cdkDropListData]="todo | async"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListConnectedTo]="[inProgressList, doneList]">
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
        <app-tasks cdkDrag
                   *ngFor="let task of todo | async"
                   [task]="task"
                   (edit)="edit('todo',$event)">
        </app-tasks>
      </mat-card>
    </div>

    <div class="container col-md-4 col-12 col-sm-5">
      <h2>In Progress</h2>
      <mat-card cdkDropList id="inProgress"

                #inProgressList="cdkDropList"
                [cdkDropListData]="inProgress | async"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListConnectedTo]="[todoList, doneList]">
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
        <app-tasks cdkDrag
                   *ngFor="let task of inProgress | async"
                   [task]="task"
                   (edit)="edit('inProgress',$event)">

        </app-tasks>
      </mat-card>
    </div>

    <div class="container col-md-4 col-12 col-sm-5">
      <h2>Done</h2>
      <mat-card cdkDropList id="done"
                #doneList="cdkDropList"
                [cdkDropListData]="done | async"
                (cdkDropListDropped)="drop($event)"
                [cdkDropListConnectedTo]="[todoList, inProgressList]">
        <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
        <app-tasks cdkDrag
                   *ngFor="let task of done | async"
                   [task]="task"
                   (edit)="edit('done',$event)">

        </app-tasks>
      </mat-card>
    </div>
  </div>
</div>
